beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
elasticsearch==6.3.1
google==2.0.1
google-api-core==1.14.3
google-auth==1.6.2
google-cloud
google-cloud-core==1.0.3
google-cloud-storage
google-cloud-vision
google-resumable-media==0.3.2
googleapis-common-protos
idna==2.8
inflection==0.3.1
numpy==1.16.1
openalpr==1.0.12
opencv-contrib-python==4.0.0.21
opencv-python==4.0.0.21
Pillow==5.4.1
protobuf==3.6.1
psycopg2==2.7.6
pyasn1==0.4.5
pyasn1-modules==0.2.4
python-json-logger==0.1.10
pytz==2018.9
redis==3.1.0
requests==2.21.0
rsa==4.0
six==1.12.0
soupsieve==1.7.3
urllib3==1.24.1
